# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS rubbish
Debug/
Release/
*.opensdf
*.sdf
*.v12.suo
*.vcxproj.user

# CLion Rubbish
.idea/

# CMake Rubbish
build/
cmake-build-*/
xcode/

# OS Rubbish
.DS_Store
Thumbs.db

# Some files I used for testing
*.tmx
*.raw
plains.png
editor.png
.vs/
*.opendb
gfx/
res/
*.tmx2gba
map/
