# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS rubbish.
Debug/
Release/
*.opensdf
*.sdf
*.v12.suo
*.vcxproj.user

# Some files I used for testing.
*.tmx
*.raw
plains.png
editor.png
.vs/
*.opendb
gfx/
res/
*.tmx2gba
map/
